* {
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: #66BBBE ;
    &-img {
        margin: 4px;
    }
    &-nav {
        &-link{
            text-decoration: none;
        }
    }

}